body {
    background: #1b203b;
    font-family: "Poppins", sans-serif;
}

.login-container {
    width: 900px;
    margin: 60px auto;
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

/* LADO ESQUERDO */
.login-left {
    width: 35%;
    background: linear-gradient(135deg, #1b203b 0%, #2a2f55 100%);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.tab-btn {
    width: 150px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid gold;
    color: gold;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.tab-btn.active {
    background: gold;
    color: #1b203b;
}

/* LADO DIREITO */
.login-right {
    width: 65%;
    padding: 50px;
}

/* FORM */
.form {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.form.active {
    display: flex;
}

.form h2 {
    color: #1b203b;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
}

.form input {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 12px;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.form input:focus {
    border-bottom: 2px solid gold;
}

/* BOTÃO */
.btn-login {
    background: gold;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #1b203b;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-login:hover {
    background: rgb(255, 220, 60);
}
