/* cor do site #1b203b */


.card-img-top {
  height: 220px;      /* ajuste conforme necessário */
  object-fit: cover;  /* faz o "zoom" para preencher o espaço */
}

.btn-outline-primary {
  color: #1b203b !important;
  border-color: #1b203b !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: #1b203b !important;
  color: #fff !important;
  border-color: #1b203b !important;
}

.card-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-lift:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(27,32,59,0.2);
}
